@charset "UTF-8";
/* CSS Document */
body{ 	background-color:olive; color:ghostwhite; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; padding-top: 25px; padding-left: 100px; padding-right: 100px; padding-bottom: 50px;
}
h1{
	padding-bottom: 25px;
}
h1,h2{
	text-align: center;
}

img{
	height:600px; width: 900px;display: block;
  margin-left: auto; margin-right: auto; border-radius: 15px;box-shadow: 5px 5px 5px gray;
}